.modal {
  /* border: solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  margin: 0;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  padding: 28px 28px 36px;
  max-height: 436px;
  max-width: 496px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px;
}

.modal__title {
  margin: 0;
}

.modal__radio-button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
}
