.toggle-switch {
  width: 56px;
  height: 28px;
  border: solid 2px black;
  border-radius: 20px;
  cursor: pointer;
  /* overflow: hidden; */
  position: relative;
}

.toggle-switch_checkbox {
  opacity: 0;
}

.toggle-switch_checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

/* .toggle-switch_checkbox:not(:checked) ~ .toggle-switch__text {
  color: white;
} */

.toggle-switch__text {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 14px;
  top: 3px;
  position: absolute;
  z-index: 11;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  color: rgba(0, 0, 0, 0.5);
  right: 9px;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: all 0.7s;
}

.toggle-switch__text_color_white {
  color: white;
}
