@font-face {
  font-family: "Cabinet";
  src: url("../../assets/cabinet-grotesk/CabinetGrotesk-Regular.otf");
}
.card {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.card__name {
  margin: 0;
  position: absolute;
  height: 20px;
  width: 91px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  z-index: 1;
  top: 15px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
