@font-face {
  font-family: "Cabinet";
  src: url("../../assets/cabinet-grotesk/CabinetGrotesk-Regular.otf");
}
.card {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  /* border: solid gold; */
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.card__name {
  margin: 0;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid red; */
  height: 20px;
  /* width: 91px; */
  width: 106px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  /* z-index: 1; */
  top: 15px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.item__header {
  /* border: solid red; */
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* top: 10px; */
  gap: 4px;
}

.like__btn {
  /* display: none; */
  width: 18px;
  height: 15px;
  display: flex;
  justify-content: center;
  /* top: 15px; */
  align-items: center;
  margin-left: 4px;
  background-image: url("../../assets/like.svg");
  background-color: transparent;
  background-size: cover;
  height: 15px;
  width: 18px;
  border: 2px;
  cursor: pointer;
}

.liked {
  background-image: url("../../assets/liked.svg");
}
/* .card__header { */
/* width: 100%; */
/* } */
