.page {
  background-color: #f3f3f3;
  /* border: solid red; */
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 0 auto;
  /* //Creating padding to not let elements touch the browser */
  padding-left: 20px;
  padding-right: 20px;
}
