.modal_label_registration {
  margin-bottom: 20px;
}

.modal_label_last_element {
  margin-bottom: 30px;
}

/* .modal__submit {
} */

.modal_submit_login {
  width: 86px;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.modal__login_text {
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}

.modal__login {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
}

.modal__signup {
  width: 80px;
  /* width: 140px; */
  height: 40px;
  /* padding-top: 8px; */
  /* padding-right: 16px; */
  /* padding-bottom: 8px; */
  /* padding-left: 16px; */
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  border: none;
}
