.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  /* //Styled it our for design/visual appearance purposes */
  /* padding-left: 40px; */
  padding-bottom: 28px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__date-and-location {
  margin-right: auto;
}
.header__username {
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes {
  /* //it was auto */
  margin-left: 20px;
  /* margin-left: auto; */
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-weight: 700;
}
.header__add-clothes:hover {
  opacity: 70%;
}

.header__signup {
  /* margin-left: 20px; */
  /* margin-left: auto; */
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-weight: 700;
}
.header__login {
  /* margin-left: 20px; */
  /* margin-left: auto; */
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.header__signup:hover {
  opacity: 70%;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__toggle_switch {
  margin-left: auto;
  /* border: solid red; */
}

.toggle_switch_input {
  margin-right: 20px;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link:hover {
  color: orange;
}
