.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  padding-left: 40px;
  padding-bottom: 28px;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__date-and-location {
  margin: 0;
}
.header__username {
  margin: 0;
  /* margin-right: 12px; */
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes {
  margin-left: auto;
  margin-right: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
