.modal__content_type_image {
  /* border: solid red; */
  max-width: 498px;
  width: 100%;
  max-height: 610px;
  height: 100%;
  padding: 0;
}

.modal__image {
  /* border: solid red; */
  max-width: 498px;
  width: 100%;
  max-height: 498px;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__close_item {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
}

.modal__container {
  padding-top: 20px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal_item_title {
  margin: 0;
}

.modal__item_weather {
  margin-top: 12px;
}
